.row {
    margin-top: 40px;
}

.footer {
    margin-bottom: 40px;
}

p {
    margin-top: 20px;
}

s {
    color: lightgray;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 3px solid #e29578;
}

#subpage h2 {
    text-align: center;
}

#org {
    text-align: center;
}

#org p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: 0px;
}

#org span {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#org img {
    height: 14em;
}

#sponsors img {
    width: 100%;
}

#sponsors {
    text-align: center;
}

#sponsors p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: 0px;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}
